@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root,
:root.light {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #0DAEBD;
    --first-color-light: #33e9fa;
    --second-color-light: #F8F9FA;
    --white-color: #F7F6FB;
    --background-color: #F8F9FA;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --text-color: #262626;
}

:root.dark {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #121212;
    --first-color-light: #212529;
    --second-color-light: #33e9fa;
    --white-color: #F7F6FB;
    --background-color: #212529;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --text-color: #F7F6FB;
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    cursor: pointer;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--background-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer
}

.font-color {
    color: var(--text-color) !important;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_name p {
    max-width: calc(var(--nav-width) + 96px)
}

.nav_logo,
.nav_link,
.theme {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--second-color-light);
}

.nav_logo-name {
    color: var(--second-color-light);
    font-weight: 700
}

.theme .btn {
    color: var(--second-color-light);
}

.nav_link,
.theme {
    position: relative;
    color: var(--second-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover,
.nav_logo-name:hover,
.theme:hover,
.theme .btn:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--second-color-light);
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--second-color-light);
}

.content {
    background-color: var(--background-color);
    color: var(--text-color);
}

.video-container {
    position: relative;
    padding-bottom: 40%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    width: 60%;
    height: 80%;
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: var(--nav-width)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .content {
        height: calc(100vh - (var(--header-height) + 1rem));
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 9.7rem)
    }
}